{% extends 'base_generic.html' %}

{% block content %}

<h1> Книги заимствованные читателями:</h1><br><br>

    {% if bookinstance_list and perms.catalog.can_mark_returned %}

    <ul>
        {% for bookinst in bookinstance_list %}
        <li class='{% if bookinst.is_overdue %}text-danger{% endif %}'>
            <a href='{% url "book-detail" bookinst.book.pk %}'>{{bookinst.book.title}} </a>
            ({{ bookinst.due_back }}) - {{bookinst.borrower}}</li>
            <p><a href="{% url 'renew-book-librarian' bookinst.id %}">Обновить дату возврата
                </a></p>
            <hr>
        {% endfor %}
    </ul>

    {% else %}

        <p>Все книги находятся в библиотеке.</p>

    {% endif %}

{% endblock %}
