{% extends 'base_generic.html' %}

{% block content %}

    <h1>Регистрация:</h1>
    {% if user.is_authenticated %}
        <hr>
        <h3>Вы уже зарегестрированы! Наслаждайтесь чтением! =)</h3>
        <hr>
    {% else %}

    <hr>
    <br>

    <form action='' method='POST'>
        {% csrf_token %}

        {{ user_form.as_p }}

        <p><input type='submit' value='Зарегестрироваться!'/></p>
        <hr>
        <p>После регистрации вас перенаправит на главную страницу.</p>
    </form>

    {% endif %}

{% endblock %}
